<html>
  <head>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <table class="table is-bordered">
        <tr>
          <td>
            {{player1.nome}}
          </td>
          <td>
            {{player1.vida}}
          </td>
        </tr>
        <tr>
          <td v-for="carta in player1.cartas">
            {{carta}}
          </td>
        </tr>
      </table>
      <table  :class="classString">
        <tr>
          <td>
            {{player2.nome}}
          </td>
          <td>
            {{player2.vida}}
          </td>
        </tr>
        <tr>
          <td v-for="carta in player2.cartas">
            {{carta}}
          </td>
        </tr>
      </table>
    </div>
    <script>
      app = new Vue({
        el: '#app',
        data: {
          player1:{
            nome: 'Josep',
            vida: 10,
            cartas: ['naruto', 'sakura']
          },
          player2:{
            nome: 'Joana',
            vida: 10,
            cartas: ['rock lee', 'sakura']
          },
          classString: 'table is-hoverable'
        }
      })
    </script>
  </body>
</html>
